html,
body,
h1,
h2,
h3,
p,
a,
ul,
li,
img,
svg {
  margin: 0;
  padding: 0;
  border: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

html,
body {
  background: #FFFFFF;
  color: #111111;
  font-family: -apple-system, BlinkMacSystemFont, Arial, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
  font-size: 32px;
  line-height: 1.3333; }

.small {
  font-size: 0.75rem;
  line-height: 1.25rem; }

a {
  color: #AAAAAA;
  text-decoration: none; }

em {
  padding: 0 0.05em; }

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem auto 2rem;
  grid-template-areas: "header header header header" "content content content content" "footer__left footer__center footer__center footer__right";
  grid-row-gap: 0.5rem;
  justify-items: start;
  align-items: center;
  place-content: stretch;
  height: 100vh; }

body.title-page {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 2rem;
  grid-template-areas: "content content content content" "footer__left footer__center footer__center footer__right";
  justify-items: center; }

header,
main,
.footer__left,
.footer__center,
.footer__right {
  padding: 0 0.5rem; }

header {
  grid-area: header;
  place-self: center; }

main {
  grid-area: content;
  place-self: start; }

.title-page main {
  place-self: center; }

.footer__left {
  grid-area: footer__left; }

.footer__center {
  grid-area: footer__center;
  justify-self: center; }

.footer__right {
  grid-area: footer__right;
  justify-self: end; }

h1 {
  color: #AAAAAA;
  font-size: 1.5rem;
  line-height: 1; }
  h1.title--start-page {
    color: #111111;
    font-size: 3rem;
    line-height: 1.1;
    text-align: center; }

h5.subtitle--start_page {
  margin-top: 2rem;
  text-align: center; }

p {
  max-width: 900px; }

.container {
  box-sizing: border-box;
  max-width: 900px;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.25rem 0.75rem;
  background: #DDDDDD; }
  .container.no-margin {
    margin-bottom: none !important; }
  .container.navy {
    background: #001F3F;
    color: #0074D9; }
  .container.blue {
    background: #0074D9;
    color: #7FDBFF; }
  .container.aqua {
    background: #7FDBFF;
    color: #001F3F; }
  .container.yellow {
    background: #FFDC00;
    color: #111111; }
  .container.red {
    background: #FF4136;
    color: #85144B; }
  .container.maroon {
    background: #85144B;
    color: #eb7ab1; }
  .container.grey {
    background: #AAAAAA;
    color: #111111; }
  .container.silver {
    background: #DDDDDD;
    color: #111111; }

.tag {
  box-sizing: border-box;
  border-radius: 0.25rem;
  margin: 0 0.1rem;
  padding: 0 0.25rem;
  background: #001F3F;
  color: #FFFFFF; }
  .tag.no-margin {
    margin-bottom: none !important; }
  .tag.navy {
    background: #001F3F;
    color: #0074D9; }
  .tag.blue {
    background: #0074D9;
    color: #7FDBFF; }
  .tag.aqua {
    background: #7FDBFF;
    color: #001F3F; }
  .tag.yellow {
    background: #FFDC00;
    color: #111111; }
  .tag.red {
    background: #FF4136;
    color: #85144B; }
  .tag.maroon {
    background: #85144B;
    color: #eb7ab1; }
  .tag.grey {
    background: #AAAAAA;
    color: #111111; }
  .tag.silver {
    background: #DDDDDD;
    color: #111111; }

.container:last-child,
.tag:last-child {
  margin-bottom: 0.1rem; }

ul {
  padding-left: 0.75rem; }

.icon {
  max-height: 1em;
  width: auto;
  margin-left: 0.4rem; }
  .icon svg {
    max-height: 1em;
    width: auto;
    fill: currentColor;
    vertical-align: text-bottom; }

.icon:first-child {
  margin-left: 0; }

/*# sourceMappingURL=styles.css.map */
